<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:0">
	<!-- wp:cover {"useFeaturedImage":true,"dimRatio":60,"customOverlayColor":"#0e1b3d","isUserOverlayColor":true,"minHeight":80,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
	<div class="wp-block-cover alignfull" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;min-height:80vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-60 has-background-dim" style="background-color:#0e1b3d"></span><div class="wp-block-cover__inner-container">
		<!-- wp:group {"layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"10rem","bottom":"10rem"}}}} -->
		<div class="wp-block-group" style="padding-top:10rem;padding-bottom:10rem">
			<!-- wp:heading {"textAlign":"center","level":1,"fontSize":"xx-large","style":{"typography":{"textTransform":"uppercase","letterSpacing":"0.08em"},"color":{"text":"#ffcc00"}}} -->
			<h1 class="wp-block-heading has-text-align-center has-text-color has-xx-large-font-size" style="color:#ffcc00;letter-spacing:0.08em;text-transform:uppercase">The Loyal &amp; Ancient</h1>
			<!-- /wp:heading -->

			<!-- wp:separator {"backgroundColor":"white","className":"is-style-wide"} -->
			<hr class="wp-block-separator has-text-color has-white-color has-alpha-channel-opacity has-white-background-color has-background is-style-wide"/>
			<!-- /wp:separator -->

			<!-- wp:paragraph {"align":"center","style":{"typography":{"textTransform":"uppercase","letterSpacing":"0.25em"},"color":{"text":"#ffffff"}}} -->
			<p class="has-text-align-center has-text-color" style="color:#ffffff;letter-spacing:0.25em;text-transform:uppercase">Est. 1997</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->
	</div></div>
	<!-- /wp:cover -->

	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
